<h1>Your account has been approved</h1>

<p>Hi <%= @user.name %>,</p>

<p>We are happy to inform you that your account has been approved. You can now log in and start using our services.</p>

<p><a href="http://127.0.0.1:3000/users/sign_in">Click here to log in</a></p>

<p>Thank you!</p>
