<h1>Hello <%= @user.name %>,</h1>

<p>Someone has just clicked the button indicating that they may have found your lost pet, <%= @post.name %>.</p>

<p>We have given them your contact details</p>
<ul>
  <li><strong>Name:</strong> <%= @user.name %></li>
  <li><strong>Phone No:</strong> </li>
</ul>

<p>Please check the FurFound platform for further updates.</p>

<p>Thank you,</p>
<p>FurFound Team</p>
