<h1>Hello <%= @user.name %>,</h1>

<p>Someone has just clicked the button indicating that they may have found your lost pet, <%= @post.name %>.</p>

<p>Their approximate location:</p>
<p>Latitude: <%= @latitude %>, Longitude: <%= @longitude %></p>

<p>We hope this information helps in your search.</p>

<p>Please check the FurFound platform for further updates.</p>

<p>Thank you,</p>
<p>FurFound Team</p>
