<div class ="container">
<h1>FurFound</h1>
<p>A platform to help reunite lost pets with their owners.</p>

<% if current_user %>
    <p> Hello <%= current_user.role %>,</p>

    <% if current_user.admin? %>
    
    <%= render 'pages/admin' %>

    <% end %>

<% else %>

    <p> you are not signed in. </p>
    <%= link_to "Sign up", new_user_registration_path %> | 
    <%= link_to "Login", new_user_session_path %>

<% end %>
</div>

