<h1 class="d-flex justify-content-center">Edit Post</h1>

<%= render "form", post: @post %>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Cancel", @post, class: 'btn btn-secondary' %>
</div>
