/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* app/assets/stylesheets/custom.css */

/* Apply Poppins to main headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Apply Roboto to the rest of the content */
  body, dl, dt, dd, p, span {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Optional: Additional styling for a friendly look */
  h1 {
    font-weight: 700;
  }

  .post-name-link {
    color: black; /* Text color */
    text-decoration: none; /* Remove underline */
  }
  
  .post-name-link:hover {
    text-decoration: underline; /* Add underline on hover */
    color: black; /* Ensure color stays black on hover */
  }

  /* Image Zoom Effect */

  .img-thumbnail {
    transition: transform 0.2s; /* Animation */
  }
  
  .img-thumbnail:hover {
    transform: scale(1.2); /* Zoom in effect */
  }
  
/* Ensure the table takes full width but maintains fixed column widths */
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Fix column widths */
}

.table th, .table td {
  text-align: left;
  padding: 8px;
  vertical-align: middle;
  overflow: hidden; /* Prevent content overflow */
}

.table td img {
  max-width: 150px; /* Ensure images do not exceed this width */
  height: auto; /* Maintain aspect ratio */
}

/* Optional: Specific column widths */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 200px; /* Fixed width for Photo column */
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 200px; /* Fixed width for Name column */
}

/* Responsive table */
.table-responsive {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

/* Center the heading text */
.text-center {
  text-align: center;
}

